<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="kr.co.wisetracker"
    version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>DotCordovaBridge</name>

    <js-module name="DotCordovaBridge" src="www/DotCordovaBridge.js">
        <clobbers target="cordova.plugins.DotCordovaBridge" />
    </js-module>

    <asset src="www/dop-native-sdk-inf.js"
        target="plugins/kr.co.wisetracker/www/dop-native-sdk-inf.js" />

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DotCordovaBridge">
                <param name="android-package" value="kr.co.wisetracker.DotCordovaBridge" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <receiver android:name="com.sdk.wisetracker.base.tracker.receiver.ReferrerReceiver"
                android:exported="true">
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER" />
                    <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                </intent-filter>
            </receiver>
        </config-file>

        <source-file src="src/android/DotCordovaBridge.java"
            target-dir="src/kr/co/wisetracker/DotCordovaBridge" />
        <framework custom="true" src="src/android/plugin.gradle" type="gradleReference" />

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DotCordovaBridge">
                <param name="ios-package" value="DotCordovaBridge" />
            </feature>
        </config-file>
        <source-file src="src/ios/DotCordovaBridge.m" />
        <source-file src="src/ios/DotCordovaBridge.h" />
        <framework custom="true" embed="true" src="src/ios/DOT.framework" />
        <framework custom="true" embed="true" src="src/ios/DOX.framework" />
        <framework custom="true" embed="true" src="src/ios/DOTSession.framework" />
        <framework custom="true" embed="true" src="src/ios/CouchbaseLite.framework" />
    </platform>

</plugin>
